@import '../helpers/varibles';
.glope_head{
    text-align: center;
    text-transform: uppercase;
    margin: 65px auto;
    color: #fff;
    padding: 25px;
    font-weight: 500;
    background-color: $mainColor;
}