
$maxMobile  : "(max-width: 767px)";
$minSmall   : "(min-width: 768px)"  ;
$maxSmall   : "(max-width: 991px)"  ;
$minMedium  : "(min-width: 992px)"  ;
$minLarge   : "(min-width: 1200px)"  ;

// color this website

$mainColor   : #3ac83e;
$secondColor : #3f69c9;

// float variable
$float-left  : left;
$float-right : right;

// text variable
$text-left  : left;
$text-right : right;
